
* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex
}

.button:hover {
  box-shadow: 0 0 50px 2px rgba(1, 1, 1, 0.6);
  border-radius: 15%;
}



.navbar{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  position: absolute;
  width: 100%;
}

.button{
  border-radius: 15%;
  padding: 10px;
  box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.1);
}


.button-link{
  text-decoration: none;
  color: transparent;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.image-panel{
  flex: 1;
  background-image: url('images/profile-cloudy-bigger.jpg');
  background-size: cover;
  background-position: right;
  min-height: 100vh;
}

.landing-text{
  flex-direction: row;
  margin-top: 120px;
  align-content: flex-start;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  color: transparent;
  text-shadow: 0 0 2px rgba(0,0,0,0.5);

}





.content{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}



.panel {

  padding: 10px;
  flex-grow: 1;
  flex: 1;
  max-width: 100%;



}
.desktop-div-1{
  background: url('images/blue-back.jpg');
  background-position: cover;
}



.bio{
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height: 50vh;


}

.portrait{
  border-radius: 50%;
  flex: 1;
  align-self: center;
  min-height: auto;
  width: 5vh;
  margin: 15px;
}

.biobox{
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  background-color: #E9EBEC;
  flex: 2;
  margin: 10px;
  padding: 20px;
  font-size: 1em;


}

.biotext{
  flex: 1;
  text-align: left;
}

.bioheader{
  text-align: left;
}





.github{
  display: flex;
  flex-direction:column;
  flex: 1;
  min-height: 50vh;

}

.gitbox{
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  flex: 2;
  margin: 1em;
  padding: 20px;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  background: url('images/blur-back.jpg');
  background-position: contain;

}

.git-img{
  border-radius: 50%;
  flex: 1;
  align-self: center;
  min-height: auto;
  width: 5vh;
  margin: 15px;
}

.gitlink{
  flex: 1;
  text-decoration: none;
  color: black;
  size: 5vh;
  align-self: center;
  margin-left:10px;
  font-size: 5em;
}

.gitlink:hover{
  border-bottom: 2px solid black;
}

.image-panel-2{
  display:flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  background:url('images/yellow-blur.jpg');
  min-height: 50vh;
  background-position: top;
}

.spiel{
  flex: 1;
  margin-left: 10px;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.languages{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
  background-color: white;
  flex: 1;
  margin: 10px;
  padding: 20px;
  font-size: 2vw;


}

.logo{
  flex: 1;
  font-size: 8em;

}


.contact{
  flex: 1;
  min-height:50vh;
  background:url('images/yellow-blur.jpg');
}

.contact-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start

}

.fa-envelope{
  align-self: center;
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 12vh;
}

.email{
  flex:1;
  font-size: 7vw;
  text-decoration: none;
  color: black;
}

.fa-phone{
  flex: 1;
  align-self: center;
  margin-top: 1em;
  margin-bottom: 5px;
  font-size: 12vh;
}

.phone{
  flex:1;
  font-size: 7vw;
  margin-top: 0px;
}

@media(orientation: landscape){
  .navbar{
    justify-content: flex-start;
  }

  .panel{
    min-height: 100vh;
  }

  .biobox{
    font-size: 1em;
  }

  .landing-text{
    font-size: 1.5em;
    margin-top: 80px;
  }

}



/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .landing-text{
    font-size: 2em;
  }

  .biobox{
    font-size: 1.5em;
  }

}


/* Large devices (desktops, 960px and up)*/
@media (min-width: 960px) {
  .desktop-div-1{
    display:flex;
    min-height: 100vh;
    background: url('images/blue-back.jpg');
    background-position: cover;
  }

  .bio{
    flex: 2;
    background: transparent;
  }

  .github{
    flex: 1;
    background: transparent;
  }

  .desktop-div-2{
    display: flex;
    min-height: 100vh;
  }


  .image-panel-2{
    flex: 2;
  }

  .contact{
    flex: 1;
  }


  .landing-text{
    font-size: 3em;
  }

  .github-button-box{
    display: none;
  }

  .biobox{
    font-size: 2em;
  }

  .email{
    font-size: 2em;
  }

  .phone{
    font-size: 2em;
  }

}
