
* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex
}


.navbar{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button{
  border: black solid 3px;
  border-radius: 10%;
  padding: 5px;
}

.image-panel{
  flex: 1;
  background-image: url('images/profile-cloudy.jpg');
  background-size: cover;
  background-position: right;
  min-height: 100vh;
}





.content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.panel {
border-top: 1px dotted #E9EBEC;
border-bottom: 1px dotted #E9EBEC;
padding: 10px;
flex-grow: 1;
flex: 1;

}





.bio{
  display: flex;
  flex-direction: row;
  background-color: white;
  flex: 1;
  min-height: 30vh;
}

.portrait{
  border-radius: 50%;
  flex: 1;
  align-self: center;
  min-height: auto;
  width: 5vh;
  margin: 15px;
}

.biobox{
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  background-color: #E9EBEC;
  flex: 2;
  margin: 10px;
  padding: 20px;
  font-size: 2vw;
}

.biotext{
  flex: 1;
  text-align: center;
}





.github{
  background-color: white;
  display: flex;
  flex-direction:row;
  flex: 1;
  min-height: 30vh;
}

.gitbox{
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  background-color: white;
  flex: 2;
  margin: 10px;
  padding: 20px;
  font-size: 2vw;
}

.git-img{
  border-radius: 50%;
  flex: 1;
  align-self: center;
  min-height: auto;
  width: 5vh;
  margin: 15px;
}

.image-panel-2{
  flex: 1;
  background-image: url('images/white-bird.jpg');
  min-height: 40vh;
  background-size: cover;
  background-position: center;
}


.contact{
  background-color:	white;
  flex: 1;
  min-height:30vh;
}

.fa-at
